.priv-container{
    /* margin-left: 3 rem; */
    position: relative;
    text-align: justify;
    text-decoration: none;
}

h2{
    font-weight: 400;
    font-size: 20px;
}

h3{
    font-weight: 300;
    font-size: 20px;
}

@media (min-width: 0px) {
    .priv-container{
        padding: 25px 20px 25px 20px;
    }

}

@media (min-width: 400px) {
    .priv-container{
        padding: 25px 25px 25px 25px;
    }

}

@media (min-width: 1001px){
    .priv-container{
        padding: 25px 50px 25px 50px;
    }

}
