/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: "Inter";
    line-height: 1.5;
}

body {
    padding: 0;
    margin: 0;
}

.link {
	text-decoration: none;
	color: #262626;
}

.link:hover {
	text-decoration: none;
	color: #262626;
}

#title {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: -15px;
    margin-top: -72px;
    margin-left: 30px;
}

.title2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
	margin-top: 30px;
}

.sucontainer {
    display: flex;
    flex-direction: column;
}

.info{
    height: 675px;
}

.sign-up, .info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    background-image: url('/static/images/pattern.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f5f5f7;
}

.info .copy {
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

.picture {
	margin: 0;
	width: 700px; 
	height: 380px;
	text-align: center;
	justify-content: center;
	align-items: center;margin-left: -100px;
}

.info .copy .picture img {
    width: 700px; 
	height: 380px;
}

.sign-up {
    height: 810px;
    background-color: #f5f5f7;
    align-items: center;
}

.sign-up .copy {
    text-align: center;
}

.copy {
    width: 500px;
    text-align: center;
}
.sign-up #forms {
    width: 328px;
}

#forms {
    margin-left: -100px;
}

#forms input[type="text"], #forms input[type="email"], #forms input[type="password"] {
    display: block;
    width: 130%;
    padding: 5px 8px;
    margin-bottom: 5px;
    color: #262626;
    font-size: 16px;
    border: 1px solid #ededed;
    border-radius: 15px;
    background-color: white;
}

#forms input[type="password"] i a {
    position: absolute;
}

.icons {
    padding: 10px;
    min-width: 40px;
}

.sulabel {
    display: block;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #262626;
    font-size: 18px;
    text-align: left;
}

.input-container {
    position: relative;
}


.subtn {
    display: block;
    margin-top: 25px;
    background-color: #f39519;
    padding: 5px 5px;
    width: 132%;
    border: none;
    border-radius: 15px;
    color: #ededed;
    font-size: 20px;
    font-weight: bold;
}

.susmall {
    font-weight: bold; color: #f39519;
}

.susmall:hover {
	text-decoration: none;
	font-weight: bold; color: #f39519; 
}

@media screen and (min-width: 1025px) {
    .sucontainer{
        flex-direction: row;
        height: 100vh;
    }

    .info {
        display: flex;
        width: 55%;
        height: 100vh;
    }

    .sign-up {
        display: flex;
        width: 45%;
        height: 100vh;
    }
	
	.picture {
		width: 630px;
		height: 360px;margin-left: -70px;
	}

}




