@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* For table colors */

.strat-green {
  background-color: #b9f8aa;
}

.strat-red {
  background-color: #ff7e83;
}

.strat-blue {
  background-color: #65d0fd;
}

.strat-yellow {
  background-color: #fccc74;
}

.strat-btn{
  font-size: 16px;
  position: relative;
  width: auto;
  height: auto;
  border: none;
  outline: none;
  padding: 7px;
  cursor: pointer;
  color: black;
  border-radius: 6px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  list-style: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.strat-btn-xs{
  font-size: 16px;
  text-decoration: none;
  position: relative;
  width: auto;
  border: none;
  outline: none;
  padding: auto;
  cursor: pointer;
  color: black;
  border-radius: 6px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  list-style: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* End of table colors */


/* Table Sort */

.table-sortable th {
  cursor: pointer;
}

.table-sortable .th-sort-asc::after {
  content: "\25b4";
}

.table-sortable .th-sort-desc::after {
  content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
  margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
  background: rgba(0, 0, 0, 0.1);
}


/* End of Table Sort */