$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?0e1c39ce60e6ead9af6b2874113fded4") format("truetype"),
url("./flaticon.woff?0e1c39ce60e6ead9af6b2874113fded4") format("woff"),
url("./flaticon.woff2?0e1c39ce60e6ead9af6b2874113fded4") format("woff2"),
url("./flaticon.eot?0e1c39ce60e6ead9af6b2874113fded4#iefix") format("embedded-opentype"),
url("./flaticon.svg?0e1c39ce60e6ead9af6b2874113fded4#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "dashboard": "\f101",
    "dashboard-1": "\f102",
    "megaphone": "\f103",
    "megaphone-1": "\f104",
    "group": "\f105",
    "group-1": "\f106",
    "mail": "\f107",
    "mail-1": "\f108",
);

.flaticon-dashboard:before {
    content: map-get($flaticon-map, "dashboard");
}
.flaticon-dashboard-1:before {
    content: map-get($flaticon-map, "dashboard-1");
}
.flaticon-megaphone:before {
    content: map-get($flaticon-map, "megaphone");
}
.flaticon-megaphone-1:before {
    content: map-get($flaticon-map, "megaphone-1");
}
.flaticon-group:before {
    content: map-get($flaticon-map, "group");
}
.flaticon-group-1:before {
    content: map-get($flaticon-map, "group-1");
}
.flaticon-mail:before {
    content: map-get($flaticon-map, "mail");
}
.flaticon-mail-1:before {
    content: map-get($flaticon-map, "mail-1");
}
