{% extends 'landing_base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
	<title>{% block title %}
			Contact
		{% endblock %}</title>
    <link href="{{ url_for('static',  filename='css/contact.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>

<div class="bg">

	<!-- Flash Messages  -->
    
            {% with messages = get_flashed_messages() %} 
            {% if messages %} 
            {% for message in messages %}

			<div class="alert alert-success alert-dismissable" role="alert"> 
                <button type="button" class="close" data-dismiss="alert"> 
                    &nbsp; <i class="zmdi zmdi-close"></i><br>
                </button>            

            {{message}}
            </div>

            {% endfor %}
            {% endif %}
            {% endwith %} 
			
	<div class="con" style="min-height: 30vh;">
	<center>
		
			<h1 style=" margin-top: 40px; font-size: 50px;">HAVE SOME QUESTIONS?</h1>
			 <p>We are here to help and answer any questions you might have.<br>
									We look forward to hearing from you.</p>
		</center>
	</div>
	<div class="con">
	  <div class="con-container">
		<div class="con-content">
		  <div class="con-left-side">
			<div class="con-address con-details">
			  <i class="fas fa-map-marker-alt"></i>
			  <div class="con-topic">Address</div>
			  <div class="con-text-one">Corporate Woods corner South</div>
			  <div class="con-text-two">Corporate Avenues, Woods</div>
			  <div class="con-text-one">District, Filinvest City, Alabang,</div>
			  <div class="con-text-two">1781 Muntinlupa City, Philippines</div>
			</div>
			<div class="con-email con-details">
			  <i class="fas fa-envelope"></i>
			  <div class="con-topic">Email</div>
			  <div class="con-text-one">horizonfeua@gmail.com</div>
			</div>
		  </div>
		  
		  <div class="con-right-side">
			<div class="con-topic-text">Send us a message</div>
			<p>If you have any work from us or any types of queries related to our website, you can send us a message from here. It's our pleasure to help you.</p>
		  <form action="/contact" method="POST">
			<div class="con-input-box">
			  <input type="text" placeholder="Enter your name" name="name" required="1">
			</div>
			<div class="con-input-box">
			  <input type="email" placeholder="Enter your email" name="email" required="1">
			</div>
			<div class="con-input-box con-message-box">
			  <input type="text" placeholder="Enter your message" name="message" required="1">
			</div>
			<div class="con-button">
			  <input type="submit" value="Send Now">
			</div>
		  </form>
		</div>
		
		</div>
	  </div>
	</div>
	
	<script type = "text/javascript" src ="{{url_for('static', filename = 'js/jquery-3.2.1.min.js')}}"></script>
	<script type = "text/javascript" src ="{{url_for('static', filename = 'js/bootstrap.js')}}"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> 
   
	
</div>
</html>


{% endblock %}
