{% extends 'base.html' %}

{% block content %}
	
	<!DOCTYPE html>
		<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Fontfaces CSS-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">          
	<link href ="{{url_for('static', filename = 'css/bootstrap-strategies.css')}}" rel = "stylesheet"/>
        <link href="{{ url_for('static',  filename='css/theme.css') }}" rel="stylesheet">
        
        <!-- Sort/Search Table CSS -->
        <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">

        <!-- Export -->
        <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">
        
		{% block title %} Stratics | Customer Management {% endblock %}
		
		</head>
		<body>
	{% if current_user.explore == "customer" or current_user.explore == "empty" %}
		<div class="strat-container-main">
			<h3>Customers</b></h3>
			<div class="strat-stat-container">
				<div class="strat-row">
					<div class="strat-column-head">
					<div class="strat-card-head">
						<h4>Customers</h4>
						<p class='card-strat-large primary'>{{ datas|length }}</p>
					</div>
					</div>
				</div>
			</div>
		</div>           
            <!-- Flash Messages  -->
    
            {% with messages = get_flashed_messages() %} 
            {% if messages %} 
            {% for message in messages %}

            <div class="alert alert-success alert-dismissable" role="alert"> 
                <button type="button" class="close" data-dismiss="alert"> 
                    &nbsp; <i class="zmdi zmdi-close"></i><br>
                </button>            

            {{message}}
            </div>

            {% endfor %}
            {% endif %}
            {% endwith %} 
    
                    <!-- Modal Create Strategies--> 
 
	<div id="mymodal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
            aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content">

				<div class="modal-header"> 
					<h4 class="modal-title">New Customer</h4>
				</div>
    
				<div class="modal-body"> 
					<div class="col-md-14 mx-auto">
						<form action="/customer-management/insert" method="POST">
							<div class="form-group row">
								<div class="col-sm-6">
									<label>Account Number</label>
									<input type="text" class="form-control" name="account_no" required="1" placeholder="Account Number">     
								</div>
								
								<div class="col-sm-6">
									<label>Amount Paid</label>
									<input type="text" class="form-control" name="amount_paid" required="1" placeholder="Php 0.00">     
								</div>

							</div> 

							<div class="form-group row">
								<div class="col-sm-6">
									<label>Subscriber</label>
									<input type="text" class="form-control" name="subscriber" required="1" placeholder="Subscriber Name">     
								</div>

								<div class="col-sm-6">
									<label>Reference Number</label>
									<input type="text" class="form-control" name="ref_no" required="1" placeholder="Reference Number">     
								</div> 
							</div>

							<div class="form-group row">
								<div class="col-sm-6">
									<label>Address</label>
									<input type="text" class="form-control" name="address" required="1" placeholder="Address">     
								</div>
								
								<div class="col-sm-6">
									<label>Date Paid</label>
									<input type="date" class="form-control" name="date_paid" required="1" placeholder="Date Paid">     
								</div>
							</div> 
						
							<div class="form-group row">
								<div class="col-sm-6">
									<label>Zone</label>
									<select name="zone" class="custom-select">
										<option value="0">Select Zone</option>
										<option value="Balete">Balete</option>
										<option value="Banga">Banga</option>
										<option value="Kalibo">Kalibo</option>
										<option value="Lezo">Lezo</option>
										<option value="Makato">Makato</option>
										<option value="Malinao">Malinao</option>
										<option value="New Washington">New Washington</option>
										<option value="Numancia">Numancia</option>
										<option value="Tangalan">Tangalan</option>
									</select>    
								</div> 

								<div class="col-sm-6">
									<label>Category</label>
									<select name="category" class="custom-select">
										<option value="0">Select Category</option>
										<option value="RS">RS</option>
										<option value="GV">GV</option>
										<option value="CS">CS</option>
									</select>    
								</div>
							</div>
						
							<div class="form-group row">
								<div class="col-sm-6">
									<label>Services</label>
									<select name="services" class="custom-select">
										<option value="0">Select Services</option>
										<option value="Digital HD">Digital HD</option>
										<option value="Internet with HD">Internet with HD</option>
										<option value="Internet Only">Internet Only</option>
									</select>    
								</div>
								
								<div class="col-sm-6">
									<label>Activation Date</label>
									<input type="date" class="form-control" name="activation_date" required="1" placeholder="Activation Date">     
								</div>
							</div>
						
							<div class="form-group row">
								<div class="col-sm-6">
									<label>Monthly</label>
									<input type="text" class="form-control" name="monthly" required="1" placeholder="Php 0.00">   
								</div>
								
								<div class="col-sm-6">
									<label>Disconnection Date</label>
									<input type="date" class="form-control" name="disconnection_date" placeholder="Disconnection Date">     
								</div>
							</div>
						
							<div class="form-group row">
								<div class="col-sm-6">
									<label>Collector</label>
									<select name="collector" class="custom-select">
										<option value="0">Select Collector</option>
										<option value="Kalibo Office">Kalibo Office</option>
										<option value="Cymore">Cymore</option>
										<option value="Wilsol">Wilsol</option>
										<option value="Arnel">Arnel</option>
										<option value="Vincent">Vincent</option>
									</select>    
								</div>
								
								<div class="col-sm-6">
									<label>Reactivation Date</label>
									<input type="date" class="form-control" name="reactivation_date" placeholder="Reactivation Date" >     
								</div>
							</div>
						
							<div class="form-group row">
								<div class="col-sm-6">
								<label>Status</label>
								<select name="status" class="custom-select">
									<option value="0">Select Status</option>
									<option value="Active">Active</option>
									<option value="Disconnected">Disconnected</option>
								  </select>   
								</div>
								
								<div class="col-sm-6">
								<label>Churn</label>
								<select name="churn" class="custom-select">
									<option>Select if Subscribers Churn</option>
									<option value=1>Yes</option>
									<option value=0>No</option>
								  </select>   
								</div>
								
							</div>

							<div class="modal-footer"> 
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
								<button class="btn btn-primary" type="submit">Add Customer</button> 
							</div>      
						</form>       
					</div> 
				</div>
			</div>
		</div> 
	</div>

    <div class="row">
        <div class="col-md-12">
            <!-- DATA TABLE -->
                <div class="table-data__tool-right" style=padding-bottom:10px;>
                    <button data-toggle="modal" data-target="#mymodal" class="au-btn au-btn-icon au-btn--green au-btn--small">
                        <i class="zmdi zmdi-plus"></i>new customer</button>
                </div>
		</div>
		
		<div class="table-responsive table-responsive-data2">
			<form action="/customer-management/delete-selected" method="POST">
                <table class="table table-data2" id="mytable">
                    <thead>
                        <tr>
                            <th>
                                <label class="au-checkbox">
                                    <input type="checkbox" id="checkall">
                                    <span class="au-checkmark"></span>
                                </label>
                            </th>
                            <th>Account No.</th>
                            <th>Subscriber Name</th>
                            <th>Address</th>
                            <th>Zone</th>
                            <th>Services</th>
                            <th>Monthly Payment</th>
                            <th>Collector</th>
                            <th>Status</th>
                            <th>Amount Paid</th>
			    <th>Reference Number</th>
                            <th>Date Paid</th>
                            <th>Category</th>
                            <th>Activation</th>
                            <th>Disconnection</th>
                            <th>Reactivation</th>
			    <th>Churn</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in datas %}
                        <tr class="tr-shadow">
                            <td>
                                <label class="au-checkbox">
                                    <input type="checkbox" name="mycheckbox" class="checkthis" value="{{row.id}}">
                                    <span class="au-checkmark"></span>
                                </label>
                            </td>
                            <td>{{row.account_no}}</td>
							<td>{{row.subscriber}}</td>
							<td>{{row.address}}</td>
							<td>{{row.zone}}</td>
							<td>{{row.services}}</td>
							<td>Php {{row.monthly}}</td>
							<td>{{row.collector}}</td>
							<td> {% if row.status == "Active" %}
								<li style = list-style-type:none; class="block-active">Active</li>
								{% else %}
								<li style = list-style-type:none; class="block-inactive">Disconnected</li>
								{% endif %}
							</td>
							<td>Php {{row.amount_paid}}</td>
							<td>{{row.ref_no}}</td>
							<td>{{row.date_paid}}</td>
							<td>{{row.category}}</td>
							<td>{{row.activation_date}}</td>
							<td>{{row.disconnection_date}}</td>
							<td>{{row.reactivation_date}}</td>
							<td> {% if row.churn == 0 %}
								<li style = list-style-type:none; class="block-active">Non Churner</li>
								{% else %}
								<li style = list-style-type:none; class="block-inactive">Churner</li>
								{% endif %}
							</td>
                            <td>
                                <div class="table-data-feature">
                                    <a href="/customer-management/update/{{row.id}}" class="item" data-toggle="modal" data-toggle="tooltip" data-placement="top" title="Edit" data-target="#modaledit{{row.id}}"><button id = "edit"><i class="zmdi zmdi-edit"></i></button></a>
                                    <a href="/customer-management/delete/{{row.id}}" class="item" data-toggle="modal" data-toggle="tooltip" data-placement="top" title="Delete" data-target="#modaldelete{{row.id}}"><button id = "delete"><i class="zmdi zmdi-delete"></i></button></a>
                                    
                                </div>
                            </td>
                        </tr>
			</form>

					 <!-- Modal Edit Customer-->

                        <div id="modaledit{{row.id}}" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
							aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered">
                                <div class="modal-content">    
                                    <div class="modal-header">   
                                        <h4 class="modal-title">Update Customer</h4>
                                    </div>
    
                                    <div class="modal-body">
                                        <form action="/customer-management/update/{{row.id}}" method="POST">
                                            <div class="form-group row">
                                                <div class="col-sm-6">
                                                    <h1>{{row.subscriber}}</h1>
							<h4 style="font-weight:500">Accnt. No. {{row.account_no}}</h4>
							<h4 style="font-weight:500">Ref. No. {{row.ref_no}}</h4>
							<p>{{row.address}}</p>
							<p>Zone: {{row.zone}}</p>
													
                                                </div>

                                                <div class="col-sm-6">

                                                </div>
                                            </div> 
											
						<div class="form-group row">
						<div class="col-sm-6">
							<label>Services</label>
							<select name="services" class="custom-select" value="{{row.services}}">
								<option value="Digital HD">Digital HD</option>
								<option value="Internet with HD">Internet with HD</option>
								<option value="Internet Only">Internet Only</option>
							</select>    
						</div>

                                                <div class="col-sm-6">
							<label>Date Paid</label>
							<input type="date" class="form-control" name="date_paid" required="1" value="{{row.date_paid}}">     
						</div>
                                            </div> 
											
					<div class="form-group row">
					<div class="col-sm-6">
							<label>Monthly Payment</label>
							<input type="text" class="form-control" name="monthly" required="1" value="{{row.monthly}}">   
						</div>

					   <div class="col-sm-6">
							<label>Category</label>
							<select name="category" class="custom-select" value="{{row.category}}">
								<option value="RS">RS</option>
								<option value="GV">GV</option>
								<option value="CS">CS</option>
							</select>    
						</div>
                                            </div>
											
																									<div class="form-group row">
                                                <div class="col-sm-6">
													<label>Status</label>
													<select name="status" class="custom-select" value="{{row.status}}">
														<option value="Active">Active</option>
														<option value="Disconnected">Disconnected</option>
													  </select>   
												</div>
                                                
											   <div class="col-sm-6">
													<label>Activation Date</label>
													<input type="date" class="form-control" name="activation_date" required="1" value="{{row.activation_date}}">     
												</div>
                                            </div>
											
											<div class="form-group row">
                                                <div class="col-sm-6">
													<label>Collector</label>
													<select name="collector" class="custom-select" value="{{row.collector}}">
														<option value="Kalibo Office">Kalibo Office</option>
														<option value="Cymore">Cymore</option>
														<option value="Wilsol">Wilsol</option>
														<option value="Arnel">Arnel</option>
														<option value="Vincent">Vincent</option>
													</select>    
												</div>
												<div class="col-sm-6">
													<label>Amount Paid</label>
													<input type="text" class="form-control" name="amount_paid" required="1" value="{{row.amount_paid}}">     
												</div>

                                                
                                            </div>					
											
											<div class="form-group row">
											<div class="col-sm-6">
													<label>Disconnection Date</label>
													<input type="date" class="form-control" name="disconnection_date" value="{{row.disconnection_date}}">     
												</div>	
												<div class="col-sm-6">
													<label>Reactivation Date</label>
													<input type="date" class="form-control" name="reactivation_date" value="{{row.reactivation_date}}">     
												</div>
												
												
                                            </div>
											
											<div class="form-group row">
									
												<div class="col-sm-6">
								<label>Churn</label>
								<select name="churn" class="custom-select" value="{{row.churn}}">
									<option>Select if Subscribers Churn</option>
									<option value=1>Yes</option>
									<option value=0>No</option>
								  </select>   
								</div>
							<div class="col-sm-6">
     
												</div>					
												
                                            </div>
				
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button class="btn btn-primary" type="submit">Update Customer</button>
                                            </div>
                                        </form>
                                    </div>    
                                </div>
						    </div>
                        </div>
                    
                    <!-- Modal Delete Customer-->

                    <div id="modaldelete{{row.id}}" class="modal fade">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
								<div class="modal-header">   
									<h4 class="modal-title">Delete Customer</h4>
								</div>
								<div class="modal-body">
									<form action="/customer-management/delete/{{row.id}}">
										<div class="form-group">
											<label>Are you sure you want to delete Customer {{row.accnt_num}}?</label>
										</div>  
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											<button class="btn btn-primary" type="submit">Delete Customer</button>
										</div>
									</form>
								</div>    
                            </div>
						</div> 
					</div>						
                        {% endfor %}
                    </tbody>
					<div class="col-md-12">
						<div class="table-data__tool-right" style="padding-bottom:15px;margin-top: 0.20rem;margin-left: -1rem;">
							<button type="submit" class="au-btn au-btn-icon au-btn--red au-btn--small" style="width: 40px; font-size: 14px;color:white;padding: -1 0;">
							<i class="bx bx-trash" style="margin-left: 5px;"></i>Delete</button>
						</div>
					</div>
                </table>
			</form>
            <!-- END TABLE -->	
		</div>
		
	{% elif current_user.explore == "sample" %}
		<div class="strat-container-main">
			<h3>Customers</b></h3>
			<div class="strat-stat-container">
				<div class="strat-row">
					<div class="strat-column-head">
					<div class="strat-card-head">
						<h4>Customers</h4>
						<p class='card-strat-large primary'>{{ sampledatas|length }}</p>
					</div>
					</div>
				</div>
			</div>
		</div>           
            <!-- Flash Messages  -->
    
            {% with messages = get_flashed_messages() %} 
            {% if messages %} 
            {% for message in messages %}

            <div class="alert alert-success alert-dismissable" role="alert"> 
                <button type="button" class="close" data-dismiss="alert"> 
                    &nbsp; <i class="zmdi zmdi-close"></i><br>
                </button>            

            {{message}}
            </div>

            {% endfor %}
            {% endif %}
            {% endwith %} 
		<div class="table-responsive table-responsive-data2">	
		<form action="/customer-management/delete-selected" method="POST">
                <table class="table table-data2" id="mytable">
                    <thead>
                        <tr>
                            <th>Customer ID</th>
                            <th>Gender</th>
                            <th>Senior Citizen</th>
                            <th>Partner</th>
                            <th>Dependents</th>
                            <thTenure</th>
                            <th>Phone Service</th>
			    <th>Multiple Lines</th>
			    <th>Internet Service</th>
                            <th>Online Security</th>
                            <th>Online Backup</th>
                            <th>Device Protection</th>
                            <th>Tech Support</th>
                            <th>Streaming TV</th>
                            <th>Streaming Movies/th>
			    <th>Contract</th>
			    <th>Paperles Billing</th>
                            <th>Payment Method</th>
                            <th>Monthly Charges</th>
                            <th>Total Charges</th>
                            <th>Churn</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in sampledatas %}
                        <tr class="tr-shadow">
                                <td>{{row.customerID}}</td>
				<td>{{row.gender}}</td>
				<td>{{row.SeniorCitizen}}</td>
				<td>{{row.Partner}}</td>
				<td>{{row.Dependents}}</td>
				<td>{{row.tenure}}</td>
				<td>{{row.PhoneService}}</td>
				<td>{{row.MultipleLines}}</td>
				<td>{{row.InternetService}}</td>
				<td>{{row.OnlineSecurity}}</td>
				<td>{{row.OnlineBackup}}</td>
				<td>{{row.DeviceProtection}}</td>
				<td>{{row.TechSupport}}</td>
				<td>{{row.StreamingTV}}</td>
				<td>{{row.StreamingMovies}}</td>
				<td>{{row.Contract}}</td>
				<td>{{row.PaperlessBilling}}</td>
				<td>{{row.MonthlyCharges}}</td>
				<td>{{row.TotalCharges}}</td>
				<td>{{row.Churn}}</td>
                        	</tr>
		            </form>
                      						
                        {% endfor %} 
					</tbody>
                </table>
			</form>
            <!-- END TABLE -->	
		</div>
		
		{% endif %}	
		  <script type = "text/javascript" src ="{{url_for('static', filename = 'js/jquery-3.2.1.min.js')}}"></script>
		  <script type = "text/javascript" src ="{{url_for('static', filename = 'js/bootstrap.js')}}"></script>
		  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> 
          <script type = "text/javascript" src ="{{url_for('static', filename = 'js/tables.js')}}"></script>
        
        <!-- Sort/Search Table JS -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
		<script src ="{{url_for('static', filename = 'js/app_ajax.js')}}"></script>
		
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>

		<script type="text/javascript">
            $(document).ready(function() 
            { 
                $('#mytable').DataTable( 
                {             
                    "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                    dom: 'B<"clear">lfrtip',
                    buttons: [    
                        {
                            extend: 'excelHtml5',
                            title: 'Stratics',
                            text: 'Export',
                            split: [ 'pdf', 'excel', 'csv'],
                        },  
                   ]	        
                });
                
                $('.btn_pdf').attr("class","btn btn-success");        
            } );
            </script>
			<script>
				$(document).ready(function(){
				$("#mytable #checkall").click(function () {
						if ($("#mytable #checkall").is(':checked')) {
							$("#mytable input[type=checkbox]").each(function () {
								$(this).prop("checked", true);
							});
				 
						} else {
							$("#mytable input[type=checkbox]").each(function () {
								$(this).prop("checked", false);
							});
						}
					});
					 
					$("[data-toggle=tooltip]").tooltip();
				});
				 
			</script>
        </body>
	</html>

{% endblock %}
