{% extends 'base.html' %}
{% block title %} Home | Dashboard{% endblock %}
{% block content %}

<!DOCTYPE html>
		<head>
		  <meta charset="utf-8">
		  <meta http-equiv="X-UA-Compatible" content="IE=edge">
		  <link href ="{{url_for('static', filename = 'css/dboard.css')}}" rel = "stylesheet"/>
		  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
		  <link href="{{url_for('static', filename = 'bootstrap-4.1/bootstrap.min.css')}}" rel="stylesheet" media="all">
		</head>
		
	<body>
	
	{% with messages = get_flashed_messages(with_categories = true) %}
			{% if messages %}
			  {% for category, messages in messages %}
				  {% if category == "error" %}
				  <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin: 0;">{{ messages }}
					<button type="button" class="close" data-dismiss="alert"><span aria-hidden="True">&times;</span></button>
				  </div>
				  {% else %}
				  <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin: 0;">{{ messages }}
					<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
				  </div>
				  {% endif %}
			  {% endfor %}
			{% endif %}
			{% endwith %}
			
			
			<div class="main-content">
				<div class="container-fluid">
				<div class="card">
					<div class="card-body">
					  <div class="hello">
						<img src="{{url_for('static', filename='images/hi_user.svg')}}" alt="hi user">
					  </div>
					  <div class="text">
						<h2>Hi, {{current_user.fname}}!</h2>
						<p>Do you want to build a Dashboard?</p>
					</div>
				  </div>
				</div>

				<!-- EDIT DASHBOARD

				<div id="mymodal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
            aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header"> 
                            <h4 class="modal-title">New Strategy</h4>
                        </div>
    
                        <div class="modal-body"> 
                            <div class="col-md-14 mx-auto">
                            <form action="/strategies/insert" method="POST">

                            <div class="form-group row">
                                <div class="col-sm-6">
                                <label>Strategy Name</label>
                                <input type="text" class="form-control" name="name" required="1" placeholder="Strategy Name">     
                                </div>

                                <div class="col-sm-6">
                                <label>Start Date</label>
                                <input type="date" class="form-control" name="startdate" required="1"> 
                                </div>
    
                            </div>  

                           <div class="form-group row">
                                <div class="col-sm-6">
                                <label>Activity Type</label>
                                <select name="act" class="custom-select">
                                    <option value="0">Please Select Activity Type</option>
                                    <option class="blueBg" value="campaign">Campaign</option>
                                    <option class="yellowBg" value="activity">Activity</option>
                                    <option value="others">Others</option>
                                </select>
                                </div>
                                
                                <div class="col-sm-6">
                                    <label>End Date</label>
                                    <input type="date" class="form-control" name="enddate" required="1">
                                </div>
                            </div>
                
                            <div class="form-group row">
                                <div class="col-sm-6">
                                <label>Platform</label>
                                <input type="text" class="form-control" name="platform" required="1" placeholder="Platform"> 
                                </div>
                            
                                <div class="col-sm-6">
                                  <label>Status</label>
                                  <select name="status" class="custom-select">
                                    <option value="0">Please Select Status</option>
                                    <option class="yellowBg" value="ongoing">Ongoing</option>
                                    <option class="greenBg" value="complete">Complete</option>
                                  </select>
                                </div>
                            </div> 
                            
                            <div class="form-group row">
                                <div class="col-12">
                                <label>Description</label>
                                <textarea name="contact-message" class="form-control"
                                    id="contact-message" class="input-field"
                                    cols="60" rows="4" placeholder="Description (optional)" style="resize: none;"></textarea>
                                </div>
                            </div>            
                
                        <div class="modal-footer"> 
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
                            <button class="btn btn-primary" type="submit">Add Strategy</button>       
                        </div>      
                      </form>       
                    </div> 
                </div>
            </div> -->

                <div class="section__content section__content--p30">
                        <div class="row">
							<div class="col-md-12">
                            <div class="overview-wrap">
                                <button data-toggle="modal" data-target="#mymodal"  class="dashname dashname-icon">
									dashboard name<i class='bx bx-pencil'></i></button>
                                <button class="au-btn au-btn-icon au-btn--blue">
                                <i class='bx bx-folder-open'></i>explore datasets</button>
                                </div>
                            </div>
						</div>	
					</div>
				</div>
			</div>

						<div class="row">
						<div class="overview-wrap">
							<div class="overview-item">
								<div class="overview-box">
									<div class="photo">
										<img src="{{url_for('static', filename='images/empty_dashboard.png')}}" alt="empty">
									</div>
									<div class="text">
										<p>Your current dashboard is empty.</p><br>
										<span>Add or explore dataset to your dashboard.</span><br>
										<button class="au-btn2 au-btn2-icon au-btn--blue">
											<i class='bx bx-folder-open'></i>explore datasets</button>
									</div> 
								</div>
							</div>
						</div>	
					</div>				
				</div>
			</div>
    <!--========== MAIN JS ==========-->

	<script src="{{ url_for('static', filename='js/dboard.js') }}"></script>

</body>
</html>
	
{% endblock %}