{% extends 'landing_base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
		<title>{% block title %} Stratics {% endblock %}</title>
        <link href="{{ url_for('static',  filename='css/aos.css') }}" rel="stylesheet">
        <link href="{{ url_for('static',  filename='css/testimonials.css') }}" rel="stylesheet">
        <link href="assets/img/favicon.png" rel="icon">
        <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    </head>
    <body id="page-top">

        <!-- Main Header -->
        <header>
            <div class="container px-7" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                <div class="row gx-5 align-items-center" data-aos="fadeup" data-aos-duration="1000" data-aos-once="true">
                        <center>
                            <h1 class="display-4">Data has a better idea.</h1>
                            <p-5>Did you know that it costs more to acquire than to retain customers?</p>
                            <form action = "/sign-up">
                            <button class = 'btn btn--outline btn--medium blue'>
                                Learn More
                            </button>
                            </form>
                        </center>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- End of Main Header -->

        <!-- Content section 1-->
        <section id="scroll">
            <div class ="darkbg">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2" data-aos="fade-left" data-aos-duration="1000" data-aos-once="true">
                        <div class="p-5"><img class="img-fluid" src="{{url_for('static', filename='images/decision2.svg')}}"></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                            <h2 class="display-4" style="color:aliceblue">Data-Driven Decision Making</h2>
                            <p style="color:aliceblue">Keeping your organization in the right direction.</p>
                            <form action = "/sign-up">
                            <button class = 'btn btn--outline btn--medium blue'>
                                Get Started
                            </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <!-- End of Content Section 1 -->

        <!-- Content section 2-->
        <section>
            <div class="container px-7">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6"data-aos="fade-right" data-aos-duration="1000" data-aos-once="true">
                        <div class="p-5"><img class="img-fluid" src="{{url_for('static', filename='images/retention.svg')}}"></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                            <h2 class="display-4">Leverage retention over acquisition</h2>
                            <p>Did you know that it costs more to acquire than to retain customers?</p>
                            <form action = "/sign-up">
                            <button class = 'btn btn--outline btn--medium blue'>
                                Learn More
                            </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of Content Section 2 -->

        <!-- Content section 3-->
        <section>
            <div class ="darkbg">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2" data-aos="fade-left" data-aos-duration="1000" data-aos-once="true">
                        <div class="p-5"><img class="img-fluid" src="{{url_for('static', filename='images/cloud.svg')}}"></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                            <h2 class="display-4" style="color:aliceblue">Secured Data Management</h2>
                            <p style="color:aliceblue">Customer transactions are stored on our secure cloud database</p>
                            <form action = "/sign-up">
                            <button class = 'btn btn--outline btn--medium blue'>
                                Start Now
                            </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <!-- End of Content Section 3 -->

         <!-- Content section 4-->
         <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6" data-aos="fade-right" data-aos-duration="1000" data-aos-once="true">
                        <div class="p-5"><img class="img-fluid" src="{{url_for('static', filename='images/message.svg')}}"></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                            <h2 class="display-4">Send better email marketing campaigns</h2>
                            <p>Accelerate your email campaign capabilities with a flexible, easy-to-use solution</p>
                            <form action = "/sign-up">
                            <button class = 'btn btn--outline btn--medium blue'>
                                How?
                            </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of Content Section 4 -->

        <!-- Quote/testimonial aside-->
        <aside class="text-center bg-gradient-primary-to-secondary">
            <div class="container px-5" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                <div class="row gx-5 justify-content-center">
                    <div class="col-xl-8">
                        <h2 class="display-4 text-white">"A churn analytics solution, wrapped up in a single app!"</h2>
                    </div>
                </div>
            </div>
        </aside>

        <!-- End of Quote/Testimonial Aside -->

        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">
        <div class="container" data-aos="fade-up">

            <div class="container px-5">
            <div class="row gx-5 align-items-center">
  
          <div class="testi-section-title">
            <h2>Testimonials</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
          </div>
  
          <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img src="static/images/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>Ceo &amp; Founder</h4>
                </div>
              </div><!-- End testimonial item -->

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img src="static/images/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>Ceo &amp; Founder</h4>
                </div>
              </div><!-- End testimonial item -->
              </div>
              </div>
              </div>
              </div>
              </div>
              </section>
            
  
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
      </section><!-- End Testimonials Section -->


        <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
        <script src="{{ url_for('static', filename='js/landing.js') }}"></script>
        <script>
            AOS.init({
              duration: 3000,
              once: true,
            });
          </script>
    </body>
</html>

{% endblock %}