{% extends "base.html" %}

{% block content %}
<table class="table table-striped" id="datas">
                    <thead>
                        <tr>
                            <th>Account No.</th>
                            <th>Subscriber Name</th>
							<th>Address</th>
                        </tr>
                    </thead>
                    <tbody>
					</tbody>
					</table>
				{% endblock %}
				
				
				
{% block script %}
	<script>
	$(document).ready(function () {
	$('#datas').DataTable({
	ajax: '/sample/data',
	columns: [
	{datas: 'account_no'},
	{datas: 'subscriber'},
	{datas: 'address'}
	],
	});
	});
	</script>
	{% endblock %}
