@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?0e1c39ce60e6ead9af6b2874113fded4") format("truetype"),
url("./flaticon.woff?0e1c39ce60e6ead9af6b2874113fded4") format("woff"),
url("./flaticon.woff2?0e1c39ce60e6ead9af6b2874113fded4") format("woff2"),
url("./flaticon.eot?0e1c39ce60e6ead9af6b2874113fded4#iefix") format("embedded-opentype"),
url("./flaticon.svg?0e1c39ce60e6ead9af6b2874113fded4#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-dashboard:before {
    content: "\f101";
}
.flaticon-dashboard-1:before {
    content: "\f102";
}
.flaticon-megaphone:before {
    content: "\f103";
}
.flaticon-megaphone-1:before {
    content: "\f104";
}
.flaticon-group:before {
    content: "\f105";
}
.flaticon-group-1:before {
    content: "\f106";
}
.flaticon-mail:before {
    content: "\f107";
}
.flaticon-mail-1:before {
    content: "\f108";
}
